@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

.menu-page {
  font-family: "roboto";
  background-color: #f6f6f6;
}
.menu-page h2 {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  font-weight: 300;
  font-size: 1em;
  margin-left: 40px;
  margin-bottom: 14px;
  margin-top: 40px;
}
.menu-page h1 {
  font-family: "Shrikhand";
  font-weight: lighter;
}

.menu-header_logonav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  margin-left: 23px;
  margin-right: 114px;
}
.menu-header_img {
  height: 254px;
  width: 100%;
  overflow: hidden;
}
.menu-header_img img {
  width: 100%;
}
.menu-header_titre-i {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-radius: 30px 30px 0 0;
  padding-top: 35px;
  margin-top: -35px;
  background-color: #f6f6f6;
}

.menu-allcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-allcard .menu-card--modifier {
  width: 350px;
  height: 69px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 10px #cacaca;
}
.menu-allcard .menu-card--modifier .menu-card_nom {
  margin-left: 10px;
  margin-top: 5px;
}
.menu-allcard .menu-card--modifier .menu-card_intitule-prix {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 22px;
  transition: width 2s ease-in-out;
}
.menu-allcard .menu-card--modifier .menu-card_prix {
  font-weight: bold;
}
.menu-allcard .menu-card--modifier .menu-card_legende {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 69px;
  justify-content: space-between;
}
.menu-allcard .menu-card--modifier .menu-card_intitule {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 19px;
}

.menu-card_hover_box {
  width: 56px;
  height: 69px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: relative;
  bottom: 62px;
  left: 295px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
}

.menu-card--modifier:hover .menu-card_hover_box {
  opacity: 1;
  animation: faderight 1s ease-in-out;
}
.menu-card--modifier:hover .menu-card_hover_circle {
  animation: circlespin 1s ease-in-out;
}
.menu-card--modifier:hover p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 19px;
  width: 80%;
}
.menu-card--modifier:hover h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

@keyframes circlespin {
  0% {
    transform: rotate(0);
  }
  /* 50% {transform: rotate(180deg);} */
  100% {
    transform: rotate(380deg);
  }
}
@keyframes faderight {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.menu-card_hover_circle {
  width: 20px;
  height: 20px;
  background-color: white;
  color: #99E2D0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes Menusmooth {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.menu-entree {
  animation: Menusmooth 2s ease-in-out;
}

.menu-plat {
  animation: Menusmooth 4s ease-in-out;
}

.menu-dessert {
  animation: Menusmooth 6s ease-in-out;
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 83px;
}
.btn-menu_commander {
  width: 186px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  margin-top: 50px;
  box-shadow: 0px 5px 10px #e7e7e7;
}
.btn-menu_commander:hover {
  box-shadow: 5px 5px 20px #cacaca;
  background: linear-gradient(#ff9de4, #b084e5);
  transition: ease-in-out 1s;
}

.accueil-page {
  max-width: 1350px;
  margin: auto;
  font-family: "Roboto";
}
.accueil-page a {
  text-decoration: none;
  color: black;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.loader_element {
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  border: 9px solid #f6f6f6;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  box-shadow: 2px 1px 5px #9356DC;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: white;
  opacity: 0;
  animation: loaderoff 2s ease-in-out;
  pointer-events: none;
}

.logo {
  margin-bottom: 50px;
}

@keyframes spin {
  0% {
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.2) rotate(190deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.1) rotate(360deg);
    opacity: 1;
  }
}
@keyframes loaderoff {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.siteheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.siteheader_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  padding: 6px;
}

.siteheader-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
}
.siteheader-localisation i {
  color: #353535;
  margin-right: 18px;
}
.siteheader-localisation p {
  font-weight: 400;
}

.siteheader-texte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  height: 287px;
  width: 100%;
}
.siteheader-texte_h1 {
  font-size: 1.4em;
  text-align: center;
  width: 229px;
  margin-bottom: 20px;
}
.siteheader-texte_span {
  width: 308px;
  text-align: center;
  margin-bottom: 34px;
}

.siteheader-btn {
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  box-shadow: 0px 5px 10px #cacaca;
}
.siteheader-btn:hover {
  box-shadow: 5px 5px 20px #cacaca;
  background: linear-gradient(#ff9de4, #b084e5);
  transition: ease-in-out 1s;
}

.nav {
  height: 440px;
}
.nav-h2 {
  margin: 51px 21px 30px;
}
.nav-btn_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-btn {
  width: 324px;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 24px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #e7e7e7;
}
.nav-btn:hover {
  background-color: #fffcff;
  box-shadow: 5px 5px 15px #e7e7e7;
}
.nav-btn_gris {
  color: #7e7e7e;
}
.nav-btn_violet {
  color: #9356DC;
}
.nav-btn_number {
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 10px;
}
.nav-btn_i--modifier {
  margin-left: 10px;
  margin-right: 27px;
}

.section {
  height: 1226px;
  background-color: #f6f6f6;
}
.section_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section_h2 {
  padding-top: 53px;
  padding-left: 21px;
  padding-bottom: 27px;
}
.section img {
  width: 100%;
}

.section-card {
  width: 335px;
  height: 251px;
  background-color: white;
  margin-bottom: 18px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #cacaca;
}
.section-card_img {
  width: 335px;
  height: 175px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-card-img_new {
  position: relative;
  bottom: 180px;
  left: 120px;
  background-color: #99E2D0;
  color: #008766;
  width: 81px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-radius: 3px;
}
.section-card-img_newheight {
  bottom: 275px;
}
.section-card_legende {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  margin-top: 12px;
}
.section-card-legende_texte {
  margin-left: 14px;
}
.section-card-legende_logo {
  margin-right: 21px;
  margin-bottom: 32px;
}
.section-card_heartfull {
  position: absolute;
  opacity: 0;
}
.section-card_heartempty {
  position: absolute;
  opacity: 1;
}
.section-card_heartfull:hover {
  opacity: 1;
  color: #FF79DA;
  transition: ease-in-out 1.5s;
}

.footer {
  height: 197px;
  color: white;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.footer p {
  margin-bottom: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer-logo {
  margin-bottom: 23px;
  margin-top: 24px;
  color: white;
  font-size: 1.2rem;
  font-family: "Shrikhand", "Sans-serif";
}
.footer-flex_i-p {
  display: flex;
}
.footer_restaurant i {
  margin-right: 17px;
}
.footer_partenaire i {
  margin-right: 10px;
}

@media (max-width: 350px) {
  .section-card {
    width: 290px;
    overflow: hidden;
  }

  .nav-btn {
    width: 280px;
  }

  .section-card-img_new {
    left: 80px;
  }

  .menu-header_titre-i {
    bottom: 35px;
  }

  .menu-header h1 {
    font-size: 1.5rem;
  }

  .menu-header_logonav i {
    margin-right: 23px;
  }

  .menu-card--modifier {
    max-width: 300px;
  }

  .menu-card--modifier:hover .menu-card_hover_box {
    left: 250px;
  }
}
@media (min-width: 760px) {
  .siteheader {
    width: 50%;
    position: absolute;
  }

  .menu-header_logonav {
    max-width: 400px;
  }

  .nav {
    position: relative;
    width: 50%;
    left: 50%;
    top: 50%;
    height: 399px;
  }

  .nav-h2 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .menu-card--modifier {
    min-width: 500px;
    width: 80%;
  }

  .menu-card--modifier:hover .menu-card_hover_box {
    left: 450px;
  }

  .section_flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
  }

  .section-card {
    margin: 10px;
  }

  .section {
    height: 750px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section_h2 {
    margin-bottom: 50px;
    padding: 0;
  }

  .menu-page h2 {
    position: relative;
    left: 325px;
  }
}

/*# sourceMappingURL=style.css.map */
