@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.menu-page{
    font-family: 'roboto';
    background-color:#f6f6f6;
}
.menu-page h2{
    width:40px;
    border-bottom: 3px solid #99E2D0;
    font-weight: 300;
    font-size: 1em;
    margin-left:40px;
    margin-bottom:14px;
    margin-top:40px;
}
/* header-menu */
.menu-header_logonav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    margin-left:23px;
    margin-right: 114px;
}
.menu-header_img{
    height: 254px;
    width: 100%;
    overflow: hidden;
}
.menu-header_img img{
    width:100%;
}
h1{
    font-family: 'Shrikhand';
    font-weight: lighter;
}
.menu-header_titre-i{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Card menu-page */

.menu-allcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-card--modifier{
    width: 350px;
    height: 69px;
    background-color: white;
    border-radius:15px;
    margin-bottom:14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-card_nom{
    margin-left:10px;
}
.menu-card_intitule-prix{
    display: flex;
    justify-content: space-between;
    margin-left:10px;
    margin-right:22px;
}
.menu-card_prix{
    font-weight: bold;
}