
@import"_breakpoint.scss";
@import"_media.scss";

@include xlphone{
    .section-card{
        width:290px;
        overflow: hidden;
    }
    .nav-btn{
        width: 280px;
    }
    .section-card-img_new{
        left:80px;
    }
    .menu-header_titre-i{
        bottom:35px;
    }
    .menu-header h1{
        font-size: 1.5rem;
    }
    .menu-header_logonav i{
        margin-right:23px;
    }
    .menu-card--modifier{
        max-width: 300px;
        
    }
    .menu-card--modifier:hover .menu-card_hover_box{
        left: 250px;
    }
}
@include tablet{
    .siteheader{
        width: 50%;
        position:absolute;
    }
    .menu-header_logonav{
        max-width: 400px;
    }
    .nav{
        position: relative;
        width: 50%;
        left: 50%;
        top: 50%;
        height: 399px;
    }
    .nav-h2{
        margin:0;
        padding-top: 30px;
        padding-bottom: 20px;
        display:flex;
        justify-content: center;
    }
    .menu-card--modifier{
        min-width: 500px;
        width: 80%;
    }
    .menu-card--modifier:hover .menu-card_hover_box{
        left: 450px;
    }
    .section_flex{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
    }
    .section-card{
        margin: 10px;
    }
    .section{
        height: 750px;
        margin-top:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .section_h2{
        margin-bottom: 50px;
        padding: 0;
    }
    .menu-page h2{
        position: relative;
        left: 325px;
    }
}