
@import"_breakpoint.scss";
@import"_media.scss";

@include xlphone{ 
    .section-card{
        width:290px;
        overflow: hidden;
    }
    .nav-btn{
        width: 280px;
    }
    .section-card-img_new{
        left:80px;
    }
    .menu-header_titre-i{
        bottom:35px;
        padding-bottom: 5px;
    }
    .heart-menu{
        position: absolute;
        right:35px;
        margin-right:0px;
        margin-bottom:12px;
    }
    .menu-header h1{
        font-size: 1.5rem;
        margin-right: 10px;
    }
    .menu-header_logonav i{
        margin-right:23px;
    }
    .menu-card--modifier{
        width:100%
    }
    .menu-allcard{
        margin: 10px;
    }
    .menu-card_inti:hover{
        width: 72%;
        transition: all 300ms;
    }
    .menu-card_flex:hover{
        width: 82%;
    }
    .menu-card_inti{
        width: 86%;
    }
    .menu-card_nom{
        font-size: 0.86rem;
    }
    .menu-card_intitule{
        font-size: 0.9rem;
    }
    h3{
        text-overflow: ellipsis;
        overflow:hidden;
        white-space:nowrap;
    }
}

@media (min-width: 376px) and (max-width: 425px){
    .menu-card--modifier{
        width:100%
    }
    .menu-allcard{
        margin: 10px;
    }
    .menu-card_inti:hover{
        width: 80%;
        transition: all 700ms;
    }
    .menu-card_flex:hover{
        width: 86%;
    }
}
@media (min-width: 350px) and (max-width:375px){
    .menu-card--modifier{
        width:100%;
    }
    .menu-card_inti{
        width: 86%;
        transition: all 700ms;
    }
    .menu-card_flex:hover{
        width: 86%;
    }
    .menu-allcard{
        margin: 10px;
    }
    p{
        max-width: 250px;
    }
}

@include tablet{
    .siteheader{
        width: 50%;
        position:absolute;
    }
    .menu-header_logonav{
        max-width: 400px;
    }
    .nav{
        position: relative;
        width: 50%;
        left: 50%;
        top: 50%;
        height: 399px;
    }
    .nav-h2{
        margin:0;
        padding-top: 30px;
        padding-bottom: 20px;
        display:flex;
        justify-content: center;
    }
    .menu-card--modifier{
        width: 500px;
    }
    .section_flex{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
    }
    .section-card{
        margin: 10px;
    }
    .section{
        height: 750px;
        margin-top:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .section_h2{
        margin-bottom: 50px;
        padding: 0;
    }
    .menu-page h2{
        position: relative;
        left: 325px;
    }
}